each app in apps
   if app.added
      li.application.added(data-app-id="#{app._id}")
         block app-layout
            table
               tr
                  td.icon
                     img(src="img/#{app.icon}")
                  td.content
                     .top
                        .name= app.name
                        .rating
                           - for (var i = 0; i < app.rating; i++) {
                              .star.filled
                           - }
                           - for (var j = 0; j < 5 - app.rating; j++) {
                              .star.blank
                           - }
                     .bottom
                        .description= app.description
                        .developer= app.developer
                  td.switcher
   else
      li.application(data-app-id="#{app._id}")
         block append app-layout